# Core Libraries
numpy
pandas
networkx
matplotlib
tqdm
json5
Pillow 

# Web Interface
streamlit
streamlit-components
watchdog

# Graph Visualisation
gravis
pygraphviz

# Machine Learning / LLM Integration
openai  
llamaapi  